.navbar.navbar-default.navbar-static-top{ role: 'navigation', style: 'margin-bottom: 0' }
  .navbar-header
    %button.navbar-toggle.collapsed{ 'type' => 'button', 'data-toggle' => 'collapse', 'data-target' => '.navbar-collapse' }
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %span.navbar-brand

  %nav.nav.navbar-top-links.navbar-right.navbar-form
    - if authenticated?
      = delete_form_tag("#{settings.map_path}/auth") do
        %a.btn.btn-default{ href: "#{settings.map_path}/users/profile" } My Account
        %button.btn.btn-default{ type: 'submit' }
          Logout
    - else
      %a.btn.btn-default{ href: "#{settings.map_path}/auth/login" }
        Log In

  .navbar-default.sidebar{ role: 'navigation' }
    = haml :'partials/sidebar'
