%ul.nav.nav-pills.nav-stacked
  - if defined?(current_user) && current_user
    %li
      %a{ href: '/_proxes' }
        %i.fa.fa-dashboard.fa-fw
        Dashboard
    - ProxES::Container.navigation.each do |item|
      - if policy(item[:target]).list?
        %li
          %a{ href: "/_proxes#{item[:link]}" }
            %i.fa.fa-fw{ class: "fa-#{item[:icon]}" }
            = item[:text]
  - else
    %li.active
      %a{ href: '/auth/identity' }
        %i.fa.fa-user.fa-fw
        Log In
    %li
      %a{ href: '/auth/identity/register' }
        %i.fa.fa-pencil-square-o.fa-fw
        Register

- if defined?(current_user) && current_user
  - if cluster_health
    %table.table
      %tbody
        %tr
          %th
            Cluster:
          %td
            = cluster_health['cluster_name']
        %tr
          %th
            Status:
          %td
            = cluster_health['status']
        %tr
          %th
            Nodes:
          %td
            = cluster_health['number_of_nodes']
