.row
  .col-md-12
    .panel.panel-default
      .panel-body
        = haml :'partials/search'
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Source
            %th Required Value
            %th Order
            %th
        %tbody
          - if list.count > 0
            - list.all.each do |entity|
              %tr
                %td
                  %a{ href: "#{base_path}/#{entity.id}" }
                    = entity.name
                %td
                  = entity.source
                %td
                  = entity.required_value
                %td
                  = entity.order
                %td
                  %a{ href: "#{base_path}/#{entity.id}/edit", title: 'Edit' }
                    %i.fa.fa-pencil
          - else
            %tr
              %td.text-center{ colspan: 5 } No records

=pagination(list, base_path)
