.row
  .col-md-12
    .panel.panel-success
      .panel-heading
        You can now start using this Elasticsearch cluster:
      .panel-body
        %h4 Send Data
        %pre
          :plain
            curl -X POST '#{ request.base_url }/#{ current_user.email }/test' \
            -u #{ current_user.email }:yourpassword -d '{"message":"Get cracking!"}'

        %h4 Search
        %pre
          curl -X GET '#{ request.base_url }/_search' -u #{ current_user.email }:yourpassword

