.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-body
        %p.description
          %label Name:
          = entity.name

        .row
          .col-md-6
            %a.btn.btn-default{ href: "/_proxes/roles/#{entity.id}/edit" } Edit
          .col-md-6.text-right
            - if policy(entity).delete?
              %form{ method: 'post', action: "/_proxes/roles/#{entity.id}" }
                %input{ name: '_method', value: 'DELETE', type: 'hidden' }
                %button.btn.btn-warning{ type: 'submit' } Delete
  .col-md-2

.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-heading
        %h3 Permissions
      %table.table
        - entity.permissions.each do |permission|
          %tr
            %td
              %a.btn-block{ href: "/_proxes/permissions/#{entity.id}" }
                = permission.verb
                = permission.pattern
  .col-md-2
