.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-body
        %p.description
          %label Role:
          = entity.role ? entity.role.name : 'None'
        %p.description
          %label User:
          = entity.user ? entity.user.username : 'None'
        %p.description
          %label Verb:
          = entity.verb
        %p.description
          %label Pattern:
          = entity.pattern

        .row
          .col-md-6
            %a.btn.btn-default{ href: "#{base_path}/#{entity.id}/edit" } Edit
          .col-md-6.text-right
            - if policy(entity).delete?
              %form{ method: 'post', action: "#{base_path}/#{entity.id}" }
                %input{ name: '_method', value: 'DELETE', type: 'hidden' }
                %button.btn.btn-warning{ type: 'submit' } Delete
  .col-md-2
