.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-body
        %p.description
          %label Role:
          = entity.role ? entity.role.name : 'None'
        %p.description
          %label User:
          = entity.user ? entity.user.username : 'None'
        %p.description
          %label Verb:
          = entity.verb
        %p.description
          %label Pattern:
          = entity.pattern
        %p.description
          %label Index:
          = entity.index
        / TODO Display matching indices

        .row
          .col-md-6
            %a.btn.btn-default{ href: "#{base_path}/#{entity.id}/edit" } Edit
          .col-md-6.text-right
            - if policy(entity).delete?
              = delete_form_tag("#{base_path}/#{entity.id}") do
                %button.btn.btn-warning{ type: 'submit' } Delete
  .col-md-2
