.row
  .col-md-12
    .panel.panel-default
      .panel-body
        = haml :'partials/search'
      %table.table.table-striped
        %thead
          %tr
            %th Role
            %th User
            %th Permission
            %th Index
        %tbody
          - if list.count > 0
            - list.all.each do |entity|
              %tr
                %td
                  = entity.role ? entity.role.name : 'None'
                %td
                  = entity.user ? entity.user.username : 'None'
                %td
                  %a.btn-block{ href: "#{base_path}/#{entity.id}" }
                    = entity.verb
                    = entity.pattern
                %td
                  = entity.index
          - else
            %tr
              %td.text-center{ colspan: 3 } No records

=pagination(list, base_path)
