.row
  .col-md-12
    .panel.panel-default
      %table.table.table-striped
        %thead
          %tr
            %th Role
            %th User
            %th Permission
        %tbody
          -list.each do |entity|
            %tr
              %td
                = entity.role ? entity.role.name : 'None'
              %td
                = entity.user ? entity.user.username : 'None'
              %td
                %a.btn-block{ href: "#{base_path}/#{entity.id}" }
                  = entity.verb
                  = entity.pattern
      - if policy(::ProxES::Permission).create?
        .panel-body.text-right
          %a.btn.btn-primary{ href: "#{base_path}/new" } New Permission

=pagination(list, base_path)
