.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-body
        .author
          %img.pull-right.thumbnail{ src: entity.gravatar }
          %h4= entity.email

        %hr
        %p.description
          %label Name:
          = entity.name
        %p.description
          %label Surname:
          = entity.surname
        %p.description
          %label Roles:
          = entity.roles_dataset.map(:name).map(&:titlecase).join(', ')
        %p.description
          %label Signed up:
          = entity.created_at.strftime('%Y-%m-%d %H:%M:%S')
  
        .row
          .col-md-6
            %a.btn.btn-default{ href: "/_proxes/users/#{entity.id}/edit" } Edit
          .col-md-6.text-right
            - if policy(entity).delete?
              %form{ method: 'post', action: "/_proxes/users/#{entity.id}" }
                %input{ name: '_method', value: 'DELETE', type: 'hidden' }
                %button.btn.btn-warning{ type: 'submit' } Delete
  .col-md-2

.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-heading
        %h4 Permissions
      %table.table
        - if entity.permissions.count.positive?
          - entity.permissions.each do |permission|
            %tr
              %td
                %a.btn-block{ href: "/_proxes/permissions/#{entity.id}" }
                  = permission.verb
                  = permission.pattern
        - else
          %tr
            %td{ colspan: 2 } No Permissions
  .col-md-2

.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-heading
        %h4 Change Password
      .panel-body
        %form.form-horizontal{ method: 'post', action: "/_proxes/users/#{entity.id}/identity" }
          %input{ name: '_method', value: 'PUT', type: 'hidden' }
          = form_control(:password, entity.identity.first, type: 'password', placeholder: 'Your password')
          = form_control(:password_confirmation, entity.identity.first, type: 'password', label: 'Confirm Password', placeholder: 'Confirm your password')
          %button.btn.btn-primary{ type: 'submit' }
            Change Password
  .col-md-2


