.row
  .col-md-12
    .panel.panel-default
      %table.table.table-striped
        %thead
          %tr
            %th Email
            %th Name
            %th Surname
            %th Roles
        %tbody
          -list.each do |entity|
            %tr
              %td
                %a{ href: "#{base_path}/#{entity.id}" }= entity.email
              %td= entity.name
              %td= entity.surname
              %td= entity.roles_dataset.map(:name).map(&:titlecase).join(', ')
      - if policy(::ProxES::User).create?
        .panel-body.text-right
          %a.btn.btn-primary{ href: "#{base_path}/new" } New User

=pagination(list, base_path)
