.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        = title
      %table.table.table-striped
        %thead
          %tr
            %th Email
            %th Name
            %th Surname
            %th Roles
        %tbody
          -users.each do |user|
            %tr
              %td
                %a{ href: root_url + "/users/#{user.id}" }= user.email
              %td= user.name
              %td= user.surname
              %td= user.role
      .panel-body.text-right
        %a.btn.btn-primary{ href: root_url + '/users/new' } New User