.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-body
        .author
          %img.pull-right.thumbnail{ src: entity.gravatar }
          %h4= entity.email

        %hr
        %p.description
          %label Name:
          = entity.name
        %p.description
          %label Surname:
          = entity.surname
        %p.description
          %label Roles:
          = entity.roles_dataset.map(:name).map(&:titlecase).join(', ')
        %p.description
          %label Signed up:
          = entity.created_at.strftime('%Y-%m-%d %H:%M:%S')
  .col-md-2

.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-heading
        %h4 Change Password
      .panel-body
        %form.form-horizontal{ method: 'post', action: "#{base_path}/#{entity.id}/identity" }
          %input{ name: '_method', value: 'PUT', type: 'hidden' }
          = form_control(:old_password, identity, type: 'password', placeholder: 'Your current password')
          = form_control(:password, identity, type: 'password', placeholder: 'Your new password')
          = form_control(:password_confirmation, identity, type: 'password', label: 'Confirm Password', placeholder: 'Confirm your password')
          %button.btn.btn-primary{ type: 'submit' }
            Change Password
  .col-md-2
